{% extends "main.html" %}
{% load widget_tweaks %}

{% block body %}

<div class="min-h-screen pt-2 flex items-center justify-center">

  <div class="w-full mb-12 max-w-3xl bg-white rounded-xl shadow-lg p-8">

    <h2 class="text-3xl font-semibold text-center text-emerald-900 mb-6">
      REGISTRAR CONSULTA
    </h2>

    <div class="flex items-center gap-4 mb-6 border border-emerald-300 rounded-lg p-4">

      {% if paciente.foto_perfil %}
        <img src="{{ paciente.foto_perfil.url }}"
             class="w-24 h-24 rounded-full object-cover">
      {% else %}
        <div class="w-24 h-24 rounded-full bg-gray-300 flex items-center justify-center">
          👤
        </div>
      {% endif %}

      <div>
        <p class="font-semibold text-lg text-emerald-900">
          {{ paciente.nome }}
        </p>

        <p>Idade: {{ paciente.idade }}</p>
        <p>Queixa: {{ paciente.queixa|default:"Não informada" }}</p>

        <a href="{% url 'historico_paciente' paciente.id %}" class="text-emerald-700 underline font-semibold">
          Ver histórico
        </a>
      </div>

    </div>

    {% if form.non_field_errors %}
      <div class="text-red-600 mb-4 text-center">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    {% if agendamento.status == 'marcada' %}
      <form method="POST" enctype="multipart/form-data" class="space-y-4">

        {% csrf_token %}

        {% for field in form %}

          <div>

            {% if field.name == "descricao" %}

              <div class="flex items-center justify-between mb-1">

                <label class="block text-sm font-medium text-emerald-800">
                  {{ field.label }}
                </label>

              </div>

              {{ field|add_class:"block w-full rounded-md bg-white px-3 py-2 text-gray-900 border border-gray-300 focus:border-emerald-500 focus:ring-1 focus:ring-emerald-500 outline-none" }}

              
              <div class="flex items-center justify-between mb-1">

                <button type="button"
                        onclick="gerarReceita()"
                        class="mt-4 cursor-pointer bg-blue-600 text-white px-4 py-2 justify-right rounded-md text-sm font-semibold hover:bg-blue-700 transition">
                  GERAR RECEITA (PDF)
                </button>

              </div>

            {% else %}

              <label class="block text-sm font-medium text-emerald-800 mb-1">
                {{ field.label }}
              </label>

              {% if field.field.widget.input_type == "file" %}

                <label for="{{ field.id_for_label }}" class="inline-block cursor-pointer rounded-full bg-emerald-600 px-5 py-2 text-sm font-semibold text-white hover:bg-emerald-700 transition">
                  Selecionar Arquivo
                </label>

                {{ field|add_class:"hidden" }}

                  <p id="file-name-{{ field.id_for_label }}" class="mt-2 text-sm text-gray-500"></p>

              {% else %}

                {{ field|add_class:"block w-full rounded-md bg-white px-3 py-2 text-gray-900 border border-gray-300 focus:border-emerald-500 focus:ring-1 focus:ring-emerald-500 outline-none" }}

              {% endif %}

            {% endif %}

            {% for error in field.errors %}
              <p class="text-red-600 text-sm mt-1">{{ error }}</p>
            {% endfor %}

          </div>

        {% endfor %}

        <button type="submit"
                class="w-full mt-4 bg-emerald-600 text-white py-2 cursor-pointer rounded-md font-semibold hover:bg-emerald-700 transition">
          SALVAR CONSULTA
        </button>

      </form>

    {% else %}
      <p class="text-center text-red-600 font-semibold">
        Esta consulta não pode mais ser registrada.
      </p>
    {% endif %}

  </div>

</div>

<script>
document.addEventListener("change", function(e){
  if(e.target.type === "file"){

    const fileNameContainer = document.getElementById(
      "file-name-" + e.target.id
    );

    if(fileNameContainer){
      fileNameContainer.textContent = e.target.files.length
        ? e.target.files[0].name
        : "";
    }
  }
});
</script>

<script>
function gerarReceita() {

    const crm = prompt("Informe o CRM:");
    if (!crm) return;

    const descricao = prompt("Descreva a receita (medicamentos, dosagem, etc):");
    if (!descricao) return;

    const url = "{% url 'gerar_receita_preview' agendamento.id %}?crm=" 
                + encodeURIComponent(crm) 
                + "&descricao=" 
                + encodeURIComponent(descricao);

    window.open(url, "_blank");
}
</script>

{% endblock body %}

