{% extends "main.html" %}
{% load widget_tweaks %}

{% block body %}

<div class="min-h-screen pt-2 flex items-center justify-center">

  <div class="w-full max-w-md bg-white rounded-xl shadow-lg p-8">

    <h2 class="text-3xl font-semibold text-center text-emerald-900 mb-6">
      NOVA CONSULTA
    </h2>

    {% if messages %}
      <div class="mb-4">
        {% for message in messages %}
          <p class="{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}text-red-600{% else %}text-green-600{% endif %} font-semibold text-center">
            {{ message }}
          </p>
        {% endfor %}
      </div>
    {% endif %}

    {% if form.non_field_errors %}
      <div class="text-red-600 mb-4 text-center">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <form method="POST" class="space-y-4">
      {% csrf_token %}


      {% if paciente_logado %}
        <div>
          <label class="block text-sm font-medium text-emerald-800 mb-1">
            Paciente
          </label>

          <input
            type="text"
            value="{{ paciente_logado.nome }}"
            disabled
            class="block w-full rounded-md bg-gray-100 px-3 py-2 text-gray-700 border border-gray-300"
          >
        </div>
      {% else %}
        <div>
          <label class="block text-sm font-medium text-emerald-800 mb-1">
            {{ form.paciente.label }}
          </label>

          {{ form.paciente|add_class:"block w-full rounded-md bg-white px-3 py-2 text-gray-900 border border-gray-300 focus:border-emerald-500 focus:ring-1 focus:ring-emerald-500 outline-none" }}

          {% for error in form.paciente.errors %}
            <p class="text-red-600 text-sm mt-1">{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}


      <div>
        <label class="block text-sm font-medium text-emerald-800 mb-1">
          {{ form.medico.label }}
        </label>

        {{ form.medico|add_class:"block w-full rounded-md bg-white px-3 py-2 text-gray-900 border border-gray-300 focus:border-emerald-500 focus:ring-1 focus:ring-emerald-500 outline-none" }}

        {% for error in form.medico.errors %}
          <p class="text-red-600 text-sm mt-1">{{ error }}</p>
        {% endfor %}
      </div>


      <div>
        <label class="block text-sm font-medium text-emerald-800 mb-1">
          {{ form.data_hora.label }}
        </label>

        {{ form.data_hora|add_class:"block w-full rounded-md bg-white px-3 py-2 text-gray-900 border border-gray-300 focus:border-emerald-500 focus:ring-1 focus:ring-emerald-500 outline-none" }}

        {% for error in form.data_hora.errors %}
          <p class="text-red-600 text-sm mt-1">{{ error }}</p>
        {% endfor %}
      </div>

      <button
        type="submit"
        class="w-full mt-4 bg-emerald-600 text-white py-2 cursor-pointer rounded-md font-semibold hover:bg-emerald-700 transition"
      >
        MARCAR CONSULTA
      </button>

    </form>

  </div>

</div>

{% endblock body %}

