{% extends "main.html" %}
{% load tz %}

{% block body %}

<div class="min-h-screen pt-2 flex items-center justify-center">

  <div class="w-full max-w-3xl bg-white rounded-xl shadow-lg p-8">

    <h2 class="text-3xl font-semibold text-center text-emerald-900 mb-6">
      MINHAS CONSULTAS
    </h2>

    {% if consultas %}

      <div class="space-y-4">

        {% for consulta in consultas %}

          {% if consulta.data_hora > now %}
            <div class="border border-emerald-300 rounded-lg p-4 flex justify-between items-center">
          {% else %}
            <div class="border border-gray-300 rounded-lg p-4 flex justify-between items-center opacity-50">
          {% endif %}

              <div>
                <p class="font-semibold text-emerald-900">
                  {{ consulta.data_hora|date:"d/m/Y H:i" }}
                </p>

                <p>
                  Médico:
                  <span class="font-semibold">
                    {{ consulta.medico.nome }}
                  </span>
                </p>

                <p>Status: {{ consulta.get_status_display }}</p>
              </div>

              {% if consulta.status == 'marcada' and consulta.data_hora > now and user.role == 'paciente' %}
                <form method="POST" action="{% url 'cancelar_consulta' consulta.id %}">
                  {% csrf_token %}
                  <button
                    type="submit"
                    class="bg-red-600 cursor-pointer hover:bg-red-700 text-white px-4 py-2 rounded-lg transition"
                    onclick="return confirm('Tem certeza que deseja cancelar esta consulta?')"
                  >
                    Cancelar
                  </button>
                </form>
              {% endif %}

            </div>

        {% endfor %}

      </div>

    {% else %}

      <p class="text-center text-gray-600">
        Você ainda não possui consultas.
      </p>

    {% endif %}

  </div>

</div>

{% endblock body %}

