<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    {% block head %}{% endblock head %}
</head>

<body class="pt-16 min-h-screen bg-gradient-to-b from-emerald-50 via-emerald-100 to-emerald-150">

<header class="fixed top-0 inset-x-0 z-50 bg-teal-100 border-b border-teal-800">
    <nav class="flex items-center justify-between px-6 py-3">

        <div class="flex items-center gap-6">
            <a href="{% url 'home' %}" class="text-teal-700 font-extrabold text-lg">
                G.M.P
            </a>
        </div>

        {% if request.user.is_authenticated %}
        <div class="ml-12 flex gap-12 text-sm font-semibold text-emerald-900">

            <a href="{% url 'marcar_consulta' %}" class="hover:text-emerald-600 transition">
                Nova consulta
            </a>

            <a href="{% url 'home' %}" class="hover:text-emerald-600 transition">
                Contato
            </a>

            <a href="{% url 'home' %}" class="hover:text-emerald-600 transition">
                Suporte
            </a>

            <a href="{% url 'home' %}" class="hover:text-emerald-600 transition">
                Sobre nós
            </a>

        </div>
        {% endif %}

        <div class="relative">

            {% if request.user.is_authenticated and request.user.is_staff %}

                <!-- MENU STAFF -->
                <button id="userMenuButton"
                    class="flex cursor-pointer items-center gap-1 bg-white border-2 border-teal-400 rounded-xl px-3 py-1 text-sm font-semibold text-teal-700 hover:bg-teal-50">

                    Bem vindo(a), {{ request.user.nome }}

                    <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
                    </svg>
                </button>

                <div id="userDropdown" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-2 text-sm z-50">

                    <a href="{% url 'cadastro' %}" class="block px-4 py-2 hover:bg-gray-100 text-emerald-900">
                        Novo cadastro
                    </a>

                    <a href="{% url 'home' %}" class="block px-4 py-2 hover:bg-gray-100 text-emerald-900">
                        Consultas
                    </a>

                    <a href="{% url 'perfil_usuario' %}" class="block px-4 py-2 hover:bg-gray-100 text-emerald-900">
                        Minhas informações
                    </a>

                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="w-full cursor-pointer text-left px-4 py-2 hover:bg-red-100 text-red-600">
                            Sair
                        </button>
                    </form>

                </div>

            {% elif request.user.is_authenticated and request.user.role == 'medico' %}

                <!-- MENU MÉDICO -->
                <button id="userMenuButton"
                    class="flex cursor-pointer items-center gap-1 bg-white border-2 border-teal-400 rounded-xl px-3 py-1 text-sm font-semibold text-teal-700 hover:bg-teal-50">

                    Bem vindo(a), {{ request.user.nome }}

                    <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
                    </svg>
                </button>

                <div id="userDropdown" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-2 text-sm z-50">

                    <a href="{% url 'home' %}" class="block px-4 py-2 hover:bg-gray-100 text-emerald-900">
                        Consultas
                    </a>

                    <a href="{% url 'home' %}" class="block px-4 py-2 hover:bg-gray-100 text-emerald-900">
                        Meus Pacientes
                    </a>

                    <a href="{% url 'perfil_usuario' %}" class="block px-4 py-2 hover:bg-gray-100 text-emerald-900">
                        Minhas informações
                    </a>

                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="w-full cursor-pointer text-left px-4 py-2 hover:bg-red-100 text-red-600">
                            Sair
                        </button>
                    </form>

                </div>


            {% elif request.user.is_authenticated %}

                <!-- MENU USUÁRIO COMUM -->
                <button id="userMenuButton"
                    class="flex cursor-pointer items-center gap-1 bg-white border-2 border-teal-400 rounded-xl px-3 py-1 text-sm font-semibold text-teal-700 hover:bg-teal-50">

                    Bem vindo(a), {{ request.user.nome }}

                    <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
                    </svg>
                </button>

                <div id="userDropdown" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-2 text-sm z-50">

                    <a href="{% url 'home' %}" class="block px-4 py-2 hover:bg-gray-100 text-emerald-900">
                        Minhas consultas
                    </a>

                    <a href="{% url 'perfil_usuario' %}" class="block px-4 py-2 hover:bg-gray-100 text-emerald-900">
                        Minhas informações
                    </a>

                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"
                            class="w-full cursor-pointer text-left px-4 py-2 hover:bg-red-100 text-red-600">
                            Sair
                        </button>
                    </form>

                </div>


            {% else %}

                {% if request.resolver_match.url_name == 'home' %}

                    <a href="{% url 'login' %}" class="bg-white border-2 border-teal-400 rounded-xl px-3 py-1 text-sm font-semibold text-teal-700 hover:bg-teal-50">
                        LOGIN
                    </a>

                {% endif %}

            {% endif %}


        </div>

    </nav>
</header>

<main>
    {% block body %}{% endblock body %}
</main>

<footer class="bg-teal-500 text-white text-center py-3 border-t border-teal-600">
    © 2026 G.M.P - Todos os direitos reservados.
</footer>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const button = document.getElementById('userMenuButton');
    const dropdown = document.getElementById('userDropdown');

    if(button){
        button.addEventListener('click', function (e) {
            e.stopPropagation();
            dropdown.classList.toggle('hidden');
        });

        document.addEventListener('click', function () {
            dropdown.classList.add('hidden');
        });

        dropdown.addEventListener('click', function (e) {
            e.stopPropagation();
        });
    }
});
</script>

</body>
</html>
